export STORAGE_AZBLOB_INTEGRATION_TEST=on
export STORAGE_AZBLOB_CREDENTIAL=hmac:access_key:secret_key
export STORAGE_AZBLOB_NAME=bucketname
export STORAGE_AZBLOB_ENDPOINT=https:accountname.blob.core.windows.net