{{- range $name, $data := .Data }}
{{- range $k, $v := $data.Funcs }}
{{- if $v.Receiver }}
// {{ $v.Parent }}WithContext adds context support for {{ $v.Parent }}.
func ({{ $v.Receiver }}) {{ $v.Parent }}WithContext({{ $v.Params }}) ( {{ $v.Returns }}) {
    span, ctx := opentracing.StartSpanFromContext(ctx, "github.com/Xuanwo/storage/services/{{ $.Name }}.{{ $name }}.{{ $v.Parent }}")
    defer span.Finish()

    pairs = append(pairs, ps.WithContext(ctx))
    return s.{{ $v.Parent }}({{ $v.Caller }})
}
{{- end }}
{{- end }}
{{- end }}
