export STORAGE_QINGSTOR_INTEGRATION_TEST=on
export STORAGE_QINGSTOR_CREDENTIAL=hmac:access_key:secret_key
export STORAGE_QINGSTOR_ENDPOINT=https:qingstor.com:443
export STORAGE_QINGSTOR_NAME=bucketname
